
 @font-face { font-style : normal; src: url("assets/fonts/ReadexProRegular.ttf"); font-family : "Readex Pro"; font-weight : 400;  }
 @font-face { font-style : normal; src: url("assets/fonts/InterRegular.ttf"); font-family : "Inter"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("assets/fonts/OpenSansSemiBold.ttf"); font-family : "Open Sans"; font-weight : 600;  }